@charset "UTF-8";

:root{
    --cor-fundo: #e9e7e7;
    --cor-botao: #FFA500;
    --cor-botao-hover: #a7720e;
    --cor-texto: #131527;
    --cor-tela: #1e2231;
}
* {
    box-sizing: border-box;
  
}
html,body{
    height: 100vh;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, var(--cor-texto));
    padding: 24px;
    color: #e6eef6;
   
}
.calculadora {
    width: 300px;
    max-width: 92vw;
    background: linear-gradient(180deg, 
    var(--cor-tela) , #0b1220);

    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(2, 6, 23, 0.6),
    inset 0 10px 0px rgba(255, 255, 255, 0.02);
    padding: 20px;
    
}
.tela-calculadora{
    background: var(--cor-tela);
    border-radius: 10px;
    padding: 10px;
    min-height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    margin-bottom: 14px;
    word-break: break-all;
}
.small{
    font-size: 14px;
    color: #888ea8;
    text-align: right;
    opacity: 0.95;
    
}
.large{
    font-size: 1.6rem;
    text-align: right;
    color: #e6eef6;
    font-weight: bold;
    letter-spacing: 0.6px;
    word-wrap: break-word;

}
.pad{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
button{
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background: var(--cor-texto);
    color: var(--cor-fundo);
    font-weight: 600;
    box-shadow: 0 4px 0px #FFA500,
    inset 0 -4px 0px #FFA500;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.1s, transform 0.1s;
}
button:active{
    box-shadow: 0 2px 0px #a7720e,
    inset 0 -2px 0px #a7720e;
    transform: translateY(2px);
}
.btn-operador{
    background-color: var(--cor-botao);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn-operador:hover{
    background: var(--cor-fundo);
    color: var(--cor-texto);
}
.btnigual{
    background-color: var(--cor-botao);
    grid-column: span 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btnigual:hover{
    background: var(--cor-fundo);
    color: var(--cor-texto);
}
.btn {
    background-color: var(--cor-tela);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn:hover{
    background: var(--cor-fundo);
    color: var(--cor-texto);
}
button:hover{
    background: var(--cor-tela);
}

